@import nib

// Styulus preporcesor compile with stylus -c -w -u nib main.styl -o main.css

tomato = #f4565f
mediumvioletred = #e01467
crimson = #e21515
orangered = #ec3800
orangered-light = #f97b00
darkorange = #f56e00
goldenrod = #ffb736
khaki = #fced58
olivedrab = #7cb51e
turquoise = #38e3cf
darkcyan = #179c93
royalblue = #1c80cc
royalblue_dark = #2264bf
blue = #0514ed
blueviolet = #8a2aff
violet = #5800d2
darkslategray = #2e3442

html, 
body
    height 100%

body
    background khaki
    font-family 'Baloo Tammudu', cursive, sans-serif;

h3 
    font-size 1.7em
    font-weight normal
    margin-top 0

section 
    background darkslategray
    box-shadow 2.5px 10px 20px rgba(0, 0, 0, 0.5)
    margin 100px auto
    color white
    width 380px
    height 430px
    header
        height 20px
        line-height 20px
        padding 10px
        position relative
        #show-color
            position absolute
            top 20px
            left 20px
            background khaki
            width 7px
            height 7px
            border-radius 50px
            cursor pointer
        #show-menu
            position absolute
            top 13px
            right 20px
            font-size 0.9em
            cursor pointer
    article
        > .active
            display block
        > div        
            display none
        #choose-color-section
            width 70%
            margin 0 auto
            text-align center
            h3 
                margin-bottom 60px
            > div
            // Awesome new way to put things aligned
                display flex
                align-items center
                justify-content space-between
                margin-bottom 10px
                // The pointer
                span 
                    width 40px
                    height 40px
                    border-radius 50%
                    border 4px solid transparent
                    cursor pointer
                    transition 0.3s ease all
                    &.active,
                    &:hover
                        border-color white                    
                #tomato
                    background tomato
                #mediumvioletred
                    background mediumvioletred
                #crimson
                    background crimson
                #orangered
                    background orangered
                #orangered-light
                    background orangered-light
                #darkorange
                    background darkorange
                #goldenrod
                    background goldenrod
                #khaki
                    background khaki
                #olivedrab
                    background olivedrab
                #turquoise
                    background turquoise
                #darkcyan
                    background darkcyan
                #royalblue
                    background royalblue
                #royalblue_dark
                    background royalblue_dark
                #blue
                    background blue
                #blueviolet
                    background blueviolet
                #violet
                    background violet